# dotnet
bin/
obj/
*.user
*.suo
*.vs/

# node
node_modules/
tools/firebase-admin/node_modules/

# secrets
**/*.env
**/.env*
tools/firebase-admin/serviceAccount.json
firebase-adminsdk.json
firebase-admin/.env*
firebase-admin/serviceAccount.json


# binaries
*.jar

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
