@page
@model AdminModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>
<p>Manage users, roles and projects.</p>
@* TODO: add a table listing all users with the ability to change roles *@
