@page
@model Sustainacore.Web.Areas.Contractor.Pages.IndexModel
@{
    ViewData["Title"] = "Contractor Dashboard";
}

<h1>Contractor Dashboard</h1>

<ul>
    @foreach (var project in Model.Projects)
    {
        <li>@project.Name</li>
    }
</ul>
