@page
@model Sustainacore.Web.Areas.Client.Pages.IndexModel
@{
    ViewData["Title"] = "Client Dashboard";
}

<h1>Client Dashboard</h1>

<ul>
    @foreach (var project in Model.Projects)
    {
        <li>@project.Name</li>
    }
</ul>
